<!DOCTYPE html>
<html>
    <head>
        <title>Basma's Essays for Techgirls!!</title>
    </head>
    <body>
        <article>
            <h1><a href="">
                What, or who, initially sparked your interest in the field of technology/STEM?
            </a></h1>
            <p>The journey into the fascinating world of technology and STEM began with some of my earliest memories. A little five-year-old perched on their dad's lap, peering wide-eyed at the colorful lines of code on his computer. Back then, the cryptic symbols on the screen might as well have been gibberish, I didn't grasp a single line of it. Instead, I darted off to play, leaving the complexities of coding to the grown-ups.

                <br><br>Soon enough, my older brother joined this technological adventure. He'd whip up simple games like the classic snake game and proudly show off his creations, giving me a glimpse into programming. Those simple games might have seemed basic, but they sparked a fascination within me that was hard to shake off.
                
                <br><br>One memory stands out so vividly, a small sticky note adorning my laptop screen, proclaiming, "You can do so much stuff with tech, you just need to learn it." Whenever frustration tried to derail my Python studies, that note was there, nudging me forward. It served as a constant reminder of the endless possibilities that awaited, sparking a determination to persist and dive deeper into the world of coding. But that note was a constant reminder that the only thing standing between me and those dreams was the dedication to learn, grow, and explore the limitless potential of technology.
                
                <br><br>Looking back, what initially sparked my interest in technology was undoubtedly my family and childhood—dad coding away, my brother's simple yet captivating games, and that motivational sticky note. But what keeps my fire for tech burning bright is the sheer vastness of possibilities it offers. 
                </p>
        </article>

        <article>
            <h1><em>
                <br>Please list in the space below your plans for future studies and/or possible occupations you have considered.
            </em></h1>
            <p>I want to go to college for computer science, either abroad or in Indonesia. My top choices would be the University of Toronto and Universitas Indonesia (University of Indonesia). I really want to be an entrepreneur and create my own tech startup in the future.
            </p>
            </article>
    </body>
</html>