<!DOCTYPE html>
<html>

<head>
    <title>Basma's Blog!!</title>
</head>

<body>
    <header>
        <h1><a href="">
                Basma's Blog
            </a></h1>
        <p>This will include Basma's life story, or whatever I desire to share really. Creation date of this website is
            06/12/2023
        </p>
    </header>



    {% for post in posts %}
    <article>
        <h1><a href="">{{ post.title }} </a></h1>
        <time>publsihed:  {{ post.published_date }}</time>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %}

</body>

</html>